/* gantari-latin-wght-normal */
@font-face {
  font-family: 'Gantari Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/gantari:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface: #e9ebef;
    --primary: #d2d7e5;
    --primary-text: #2d2d2d;
    --secondary-text: #5d5d65;
    --accent: #223360;
    --on-accent: #dfddd7;
    --success: #279b48;
    --highlight: #c9cedc;
    --warning: #e58600;
    --error: #ee342b;
    --statusbar: #000000;
    --stroke: #afafaf;
    --accent-tr1: #2233604c;
    --sans-font-family: 'Gantari Variable', 'sans-serif';
    --icon-font-family: 'Material Symbols Rounded';
    --background-card-url: url('/dist/didroom-components/assets/rect.png');
  }

  .dark {
    --surface: #253151;
    --primary: #36415c;
    --primary-text: #f7faff;
    --secondary-text: #c0c0ca;
    --accent: #dfddd7;
    --on-accent: #36415c;
    --success: #4ecb71;
    --highlight: #54607f;
    --warning: #ff9601;
    --error: #ff6681;
    --statusbar: #ffffff;
    --stroke: #444e69;
    --accent-tr1: #b6b5b24c;
    --background-card-url: url('/dist/didroom-components/assets/rect-dark.png');
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --surface: #253151;
      --primary: #36415c;
      --primary-text: #f7faff;
      --secondary-text: #c0c0ca;
      --accent: #dfddd7;
      --on-accent: #36415c;
      --success: #4ecb71;
      --highlight: #54607f;
      --warning: #ff9601;
      --error: #ff6681;
      --statusbar: #ffffff;
      --stroke: #444e69;
      --accent-tr1: #b6b5b24c;
      --background-card-url: url('/dist/didroom-components/assets/rect-dark.png');
    }
  }
}

.icon {
  font-family: var(--icon-font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  @apply bg-surface;
}
