@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface: #e9ebef;
    --primary: #d2d7e5;
    --accent: #223360;
    --on-accent: #dfddd7;
    --on: #2d2d2d;
    --on-alt: #5d5d65;
    --stroke: #bbc0cd;
    --highlight: #c9cedc;
    --success: #279b48;
    --warning: #e58600;
    --error: #ee342b;
    --sans-font-family: 'Gantari Variable', 'sans-serif';
    --icon-font-family: 'Material Symbols Rounded';
    --ion-default-font: var(--sans-font-family);
	  --ion-font-family: var(--sans-font-family);
    --background-card-url: url('https://cdn.jsdelivr.net/npm/@didroom/components@latest/dist/didroom-components/assets/rect.png');
    --input-background: #f9fafb;
    --ion-background-color: var(--surface);
    --ion-text-color: var(--on);
    --ion-tab-bar-background: var(--surface);
    --ion-tab-bar-color-selected: var(--on);
    --ion-tab-bar-color: var(--on-alt);
  }

  .dark {
    --surface: #253151;
    --primary: #36415c;
    --accent: #dfddd7;
    --on-accent: #36415c;
    --on: #f7faff;
    --on-alt: #c0c0ca;
    --stroke: #444e69;
    --highlight: #546080;
    --success: #4ecb71;
    --warning: #ff9601;
    --error: #ff443b;
    --background-card-url: url('https://cdn.jsdelivr.net/npm/@didroom/components@latest/dist/didroom-components/assets/rect-dark.png');
    --input-background: #374151;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --surface: #253151;
      --primary: #36415c;
      --accent: #dfddd7;
      --on-accent: #36415c;
      --on: #f7faff;
      --on-alt: #c0c0ca;
      --stroke: #444e69;
      --highlight: #546080;
      --success: #4ecb71;
      --warning: #ff9601;
      --error: #ff443b;
      --background-card-url: url('https://cdn.jsdelivr.net/npm/@didroom/components@latest/dist/didroom-components/assets/rect-dark.png');
      --input-background: #fff;
    }
  }
}

.icon {
  font-family: var(--icon-font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  @apply bg-surface;
}
